<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Mohave:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

    *{ font-family: 'Roboto', sans-serif;}
    span{font-size: 14px;
    color: gray;}

    </style>
</head>
<body>
    <h1>Configuração para a requisição:</h1>
    <br>
    <h3>Ao clicar start, aguarde. Quando finalizar as requisições você será redirecionado</h3>
    <h3>Instruções:</h3>
    <p>*Ideal utilizar números pares, múltiplos de 10000</p>
    <p>* Valor mínimo: 1</p>
    <p>* Valor máximo: 10000</p>
    <p>* Quanto maior o número de requisições simultâneas, mais rápido será os requests</p>
    <form name="form1" method="POST" action="/start">
    <table>
        <tr>
        <td>Requisições simultâneas: </td>
        <td><input type="number" name="iterations" min="1" max="10000"></td>
        <td><span>valor padrão 1000</span></td>
        </tr>
        <tr>
        <td colspan="2"><input type="submit" value="Start!" ></td>
        </tr>
    </table>
    </form>
</body>
</html>
